.no-letter-spacing {
    letter-spacing: 0;
}

body {
    letter-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0;
    text-transform: unset!important;
}

section {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

li {
    font-size: 16px;
}

table {
    font-size: 16px;
}

p {
    margin-bottom: 10px !important;
    font-size: 16px;
}

.pricing-box {
    margin-bottom: 10px;
}

.margin-list {
    position: relative;
    padding-left: 35px;
}

.margin-list:before {
    left: -5px;
    position: absolute;
}

.li-icon {
    position: absolute;
    text-align: center;
    margin-top: 5px;
}

.li-p {
    position: relative;
    padding-left: 25px;
}

.p-main {
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 20px
}

.p-abzac {
    text-indent: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.carousel-custom-item {
    max-height: 120px;
    max-width: 120px;

}

.logo {
    padding: 0!important;
}

.footer {
    background-color: #1a1c37;
}

@media only screen and (max-width: 991px) {
    .secondNav .menu-mobile {
        color: #fff;
    }

    .header-h1 {
        margin-top: 30px;
    }
}

.a-flash:hover {
    opacity: .6;
}

@media only screen and (max-width: 600px) {
    .header-page-title {
        font-size: 20px;
        line-height: 30px;
    }
}

.advantage-tel:hover {
    color: #fff!important;
}

.section-title {
    font-weight: bold!important;
}